<div class="blog-login">
  <div class="blog-login-in">
  

    <form  (submit)= "onLogin(loginForm)" #loginForm="ngForm"  >

          <img src="images/logo.png" alt="" />
          <div class="row">
              
                <mat-form-field>
                    <input 
                    name="email"
                    ngModel
                    #emailInput="ngModel"
                    matInput 
                    type="email" 
                    placeholder="Email "
                    required email>
                     <mat-error *ngIf="emailInput.invalid">Please enter a E-mail.</mat-error>
                </mat-form-field>

                
              
          </div>
          <div class="row">
                             
                    <mat-form-field>
                            <input type="password"
                                name="password"
                                ngModel
                                matInput
                                #passwordInput="ngModel" 
                                placeholder="Password"
                                required> 
                                <mat-error *ngIf="passwordInput.invalid">Please Enter Valid Password.</mat-error> 
                            </mat-form-field>
                 
            
             
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <button 
                  mat-raised-button
                  color="accent"
                  class="waves-effect waves-light btn-large btn-log-in"
                 *ngIf="!isLoading"> Login</button>
                 <mat-spinner *ngIf="isLoading"></mat-spinner>
              </div>
          </div>
          <a href="forgot.html" class="for-pass">Forgot Password?</a>
      </form>
  </div>
</div>
